{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="container py-5">
        {#        {% include 'partials/_messages.html' %}#}

        <div class="jumbotron">

            <h1>За контакти с нас:</h1>
            <p><strong>Град:</strong> Благоевград, ул. Даме Груев 148</p>
            <p><strong>Имейл:</strong> yomaxbike@gmail.com</p>
            <p><strong>Управител:</strong> Станислав Янакиев</p>
            <p><strong>Телефон:</strong> 0885056744</p>

        </div>
  </div>


{% endblock %}