<footer>
    <article>

        &copy; YOMAX BIKES. Всички права запазени.

        <a href="{% url 'contatcts' %}">
            <i class="fa-solid fa-address-card"> За контакти</i>
        </a>

        <a href="https://detskitegradini.com/yomaxbike/?fbclid=IwAR2JhY4R1VMHq0s9z3eYNTxEidNWXq55cwUkk7lAVuqQLh3i5TVbR446A3o">
            <i class="fa-regular fa-newspaper"> В ПРЕСАТА ЗА НАС</i>
        </a>

    </article>

    <article>

        <a href="https://www.facebook.com/yomaxbike">
            <i class="fa-brands fa-square-facebook"> Facebook</i>
        </a>
        <a href="https://www.instagram.com/yomaxbike/?hl=bg">
            <i class="fa-brands fa-square-instagram"> Instagram</i>
        </a>


    </article>

</footer>