{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'styles/profile.css' %}">
    <div class="login-register-div">
        <div class="login-register-box">
            <h2>Редакция на профил</h2>

            <form method='post' action="{% url 'user edit' pk=request.user.pk %}">

                {{ form.as_p }}
                {% csrf_token %}

                <button class="btn btn-outline-primary btn-large" type="submit">Редактирай</button>


            </form>
        </div>
    </div>
{% endblock %}